html, body
  min-width: 320px
  background-color: #EDEDED
  color: #333333
  font-family: 'Open Sans', sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

a:link, a:active, a:visited
  outline: 0
  text-decoration: none
  color: #000000
  cursor: pointer

#header
  height: 50px
  padding: 0 5%
  background-color: #333333
  color: #F2F2F2
  font-size: 18px
  line-height: 50px
  text-shadow: 0 1px 2px #000000
  
  a
    color: #F2F2F2
  
  .project
    .logo
      margin: -5px 5px 0 0
      vertical-align: middle

#app
  padding-top: 20px
  min-height: 400px

#footer
  margin-top: 40px
