.project .translations
  h3
    text-align: left
  
  .empty
    padding: 40px
    font-size: 20px
  
  .field
    @extend .container
    
    .translation
      box-shadow: 0 0 1px 1px #333333
      margin-bottom: 20px
      padding: 5px 10px
      
      .top.row
        margin-bottom: 5px
      
      .bottom.row
        margin-top: 5px
      
      .left, .right
        @extend .col-md-6
        @extend .col-sm-6
      
      .english, .translated textarea
        line-height: 20px
      
      .translated, .translated textarea
        width: 100%
      
      .save
        float: right
      
      .label, .translator
        font-weight: lighter
        font-size: 12px
