<div class="zooniverse-profile">
  <form class="sign-in-form">
    <div class="loader"></div>
    <header>Sign In</header>
    <label><input type="text" name="username" required="required" placeholder="Username" /></label>
    <label><input type="password" name="password" required="required" placeholder="Password" /></label>
    <div class="error-message"></div>
    <div class="action"><button type="submit">Sign In</button></div>
    <p class="no-account">
      No Account?
      <button name="sign-up"><button>Sign Up</button>
    </p>
  </form>
</div>
